.card-bg {
  background: linear-gradient(#5b79a2, #2e4469);
  border: none !important;
  border-radius: .5rem !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  min-height: 200px;
}

.card-bg:hover {
  box-shadow: 1px 8px 20px grey;
  transition:  box-shadow .3s ease-in;
}

.post-text {
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none !important;
}

.post-text:hover {
  color: #ffffff;
}

.navbar-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  background-image: linear-gradient(90deg,#5b79a2,#2e4469);
}

.btn-create {
  display: block !important;
  margin-left: auto;
}

.btn-pass {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-outline-primary {
  color: #223E99 !important;
  border-color: #223E99 !important;
}

.btn-outline-primary:hover {
  background-color: #223E99 !important;
  color: #ffffff !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: silver !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  transition: .2s ease-in;
}

.mt-8r {
  margin-top: 8rem;
}

.input-generate-password {
  border-radius: 30px !important;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #223E99 !important;
}

.mid-cent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #223E99;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
