body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 0px 0px !important;
}
